<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<style>
ul {
    padding-left: 15px;
}

li {
    padding-left: 0px;
}
</style>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-nowrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <div id="index">
    <h3><a href="{{ site.url}}/about/">About me</a></h3>
    <p>
    Hi there!<br>
    My name is Zé Vinícius, I'm an undergraduate student in the Department of Electrical Engineering at
    <a href="https://en.wikipedia.org/wiki/Federal_University_of_Campina_Grande"><u>UFCG</u></a>, Brazil.
    I was an intern at the National Institute of Standards and Technology (NIST) and at the
    <a href="https://exoplanets.nasa.gov/news/1529/meet-the-kepler-mission-team/">National Aeronautics and Space Administration (NASA)</a>.
    I enjoy <a href="https://mirca.github.io/publications/"><u>maths</u></a> and <a href="https://mirca.github.io/software/"><u>coding</u></a>.
    </p>
    <h3><a href="{{ site.url}}/news/">News and Highlights</a></h3>
    <ul style="list-style-type:square">
        <li> <i>October 2018</i> I'm featured on <a href="https://exoplanets.nasa.gov/news/1529/meet-the-kepler-mission-team/">NASA Kepler mission website</a> :)
        <li> <i> April 2018 </i>- I was a co-mentor for the
            <a href="https://github.com/astropy/astropy-tutorials"><u>astropy
                    tutorials project</u></a> as part of the Google Summer of Code program!
        <li> <i> March 2018 </i>- <a href="https://keplerscience.arc.nasa.gov/new-kepler-data-analysis-tools-and-tutorials-lightkurve-v10.html"><u>Lightkurve 1.0</u></a> has been released!
        <li> <i>March 2018</i> - I attended the <a href="https://tess.ninja"><u>TESS.Ninja</u></a> workshop.
                Huge thanks to the organizers for fully covering my travel (all the way from Beijing,
                CN, to NYC, USA), hotel, and additional expenses!
        <li> <i>February 2018</i> - I've left NASA's K2 GO Office to resume my undergraduate studies!
        <li> <i>January 2018</i> - I attended the American Astronomical Society Meeting! <a href="https://github.com/mirca/ze_aas_poster/blob/master/poster.pdf"><u>Check out my poster!</u></a>
    </ul>

    <h3><a href="{{ site.url}}/posts/">Recent Posts</a></h3>
    {% for post in site.posts limit:3 %}
    <article>
      {% if post.link %}
        <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></a></h2>
      {% else %}
        <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
      {% endif %}
    </article>
    {% endfor %}
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
